
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    text-align: center;
    color: #1c2d42;
    margin-bottom: 10px;
}

.login-box p {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

.login-box label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 13px;

    background-color: #1c2d42;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.login-box button:hover {
    background-color: #071b35;
}

.erro {
    background-color: #ffe5e5;
    color: #b00020;

    padding: 10px;
    margin-bottom: 20px;

    border-radius: 6px;
    text-align: center;
}
